.cart-wrapper item {
    float: left;
    width: 100px;
    display: inline-block;
    padding: ;
    height: 70px;
}

img {
    width: 250px;
    height: 250px;
    margin-left: 20px;
}

.cart-text-wrapper {
    font-family: bold;
    color: red;
    font-size: 40px;
    margin-left: 40px !important;
}

.price_tag {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: red;
    margin-left: 20px;
}

button {
    border: 2px solid black;
    background-color: rgb(165, 81, 42);
    margin-left: 20px;
    box-shadow: black, 0px, 2px, 3px;
    width: 120px;
    height: 50px;
    border-radius: 20px;
}

.add_to_cart img {
    float: right;
    width: 120px;
    height: 100px;
    background-color: white;
}